*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.wrapper {
	width: 100%;
	background-color: #fff;
}
nav{
    display: flex;
	flex-basis: 60%;
	justify-content: space-between;
	margin: 0 auto 0;
	align-items: center;
}
.header, .main{
	max-width: 1200px;
	margin: 0 auto;
}
.nav-item{
    display: inline-block;
	align-items: center;
	margin: 20px;
}
.nav-link{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #95e1d3;
	text-transform: uppercase;
}
.nav-link:hover{
	color: #f38181;
	transition-duration: 200ms;
	transition-timing-function: linear;
	border-bottom: 3px solid #f38181;
}
.title{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	text-align: center;
	padding-bottom: 22px;
	color: #333333;
}
.title-1{
	margin-top: 130px;
}
.sub-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
    color: #333333;

}
.sub-title:after{
	content: '';
	display: block;
	height: 3px;
    width: 60px;
	margin: 41px auto 0;
	background: #f38181;;
}
.sub-title-1:after{
	top: 330px;
	left: 690px;
}

.services{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    margin-top: 110px;}
    
.services-list{
	height: 80px;
	width: 360px;
	margin-bottom: 100px;
}
.services-box{
	width: 260px;
	display: inline-block;
}

.services-caption{
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.services-text{
	color: #999999;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.icons{
	display: inline-block;
	position: relative;
	top: -20px;
	left: -20px;
}
.title-2{
	margin-top: 20px;
}
.sub-title-2:after{
	top: 910px;
	left: 690px;
}
.middle-text{
	margin-top: 90px;
	text-align: center;
	padding: 0 350px;
}
.middle-bottom{
	display: flex;
	justify-content: space-between;
	padding: 100px 125px 0;
}
.first-member, .second-member, .third-member{
	display: inline-block;
	position: relative;
	height: 470px;
	width: 380px;
}
.first-member:hover, .second-member:hover, .third-member:hover{
	transform: translate(-10px, -10px);
	transition-duration: 200ms;
	transition-timing-function: linear;
	box-shadow: 10px 10px #95e1d3;
}
.first-member:hover::after, .second-member:hover::after, .third-member:hover::after{
	display: block;
	content: '';
	width: 380px;
	height: 470px;
	position: absolute;
	background-image: linear-gradient(180deg, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%);
	right: 0;
	top: 0;
}

.member-item{
    display: none;
	position: absolute;
	width: 232px;
}
.member-subitem{
	left: 75px;
	bottom: 200px;
	z-index: 1;
}

.facebook, .twitter, .pinterest, .instagram {
	display: inline-block;
	width: 55px;
	height: 55px;
	vertical-align: top;
	padding-top: 13px;
	padding-left: 15px;
	background-color: #fce38a;
}
.facebook{
padding-left: 22px;
}
.facebook-1:hover, .twitter-1:hover, .pinterest-1:hover, .instagram-1:hover, .facebook-2:hover, .twitter-2:hover, .pinterest-2:hover, .instagram-2:hover, .facebook-3:hover, .twitter-3:hover, .pinterest-3:hover, .instagram-3:hover{
	background-color: #95e1d3;
}
.first-member:hover .member-subitem, .second-member:hover .member-subitem, .third-member:hover .member-subitem{
	display: block;
}

.caption {
	margin-top: 30px;
}
.team-names {
	font-size: 14px;
	text-align: center;
	font-family: 'Montserrat regular', sans-serif;
	color: #333333;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 15px;
}
.position {
	font-size: 15px;
	text-align: center;
	font-family: 'Roboto LightItalic', sans-serif;
	color: #999999;
	font-style: italic;
	line-height: 1.6;
	padding-bottom: 50px;
}

.middle::after {
	content: '';
	display: block;
	height: 1px;
	width: 75%;
	margin: 175px auto 30px;
	background-color:grey;

}

.footer {
	display: flex;
	justify-content: space-between;
	margin: 60px 100px;
}
.footer-text {
	font-family: Montserrat;
	color:  #333333;
	font-size: 14px;
	font-weight: 400;
	margin: 0 75px 0;
}

.form {
	margin: 0 75px 0;
}
.form-input {
	border-style: solid;
	border-width: 1px;
	border-color:  #e7e7e7;
	box-sizing: border-box;
	background-color:  #ffffff;
	width: 230px;
	height: 40px;
}

.span {
	font-family: Montserrat;
	color:  #f38181;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.form-button {
	background-color:  #95e1d3;
	width: 150px;
	height: 40px;
}